@{
    ViewBag.Title = "Добавление нового пользователя";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Person</legend>

        <div class="editor-label">
           Ссылка на страницу нового пользователя
        </div>
        <div class="editor-field">
            <input type="text" name="userUrl" />
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>*@
        <div class="editor-label">
           Добавить друзей
        </div>
        @Html.CheckBox("addFriends", false)
        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
