@model Entity.Models.Video
@{
    ViewBag.Title = "Самое популярное видео среди пользователей";
}

<h1>Самое популярное видео среди пользователей:</h1>
@using (Html.BeginForm()) {
<p>Выберите за какой день вы хотите посмотреть топ: </p>
    <p> <pre><input style="width: 150px; tab-size:3" type="date" name="calendarfirst" value='@DateTime.Now'
    max="2016-11-30" min="2015-11-30">       <input style="width: 150px" type="date" name="calendarlast" value='@DateTime.Now'
    max="2016-11-30" min="2015-11-30"> </pre>
   <input type="submit" value="Вывести"></p>
}
            <h3>@Model.Title</h3>
            <p>Если видео не отображается, то можете перейте по <a href='@Model.VKPlayer'>этой ссылке.</a></p>
            <iframe src='@Model.Player' width="607" height="360" frameborder="0"></iframe>
