@{
    ViewBag.Title = "Это Ваша домашняя страница!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
           @* <p>
                Для получения дополнительных сведений о ASP.NET MVC посетите веб-сайт 
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                На странице представлены <mark>видеоматериалы, учебники и образцы кода</mark> , позволяющие лучшим образом использовать ASP.NET MVC.
                По всем вопросам об ASP.NET MVC обращайтесь на
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">наши форумы</a>.
            </p>*@
        </div>
    </section>
}
<h3>Есть несколько вариантов:</h3>
<ol class="round">
    <li class="one">
        <h5>Показать самое популярное видео среди пользователей</h5>
        <br /> 
            @Html.ActionLink("Перейти к просмотру", "PopularVideo", "People", routeValues: null, htmlAttributes: new { id = "peopleLink" })
        <br />        
    </li>
    <li class="two">
        <h5>Показать топ 10 самых популярных видео среди пользователей</h5>
        <br /> 
            @Html.ActionLink("Перейти к просмотру", "Top10Video", "People", routeValues: null, htmlAttributes: new { id = "peopleLink" })
        <br />        
    </li>
    <li class="three">
        <h5>Посмотреть всех пользователей</h5>
        <br />       
            @Html.ActionLink("Перейти к просмотру", "Index", "People", routeValues: null, htmlAttributes: new { id = "peopleLink"})
        <br />
    </li>
    <li class="four">
        <h5>Добавить новых пользователей</h5>
        <br /> 
            @Html.ActionLink("Перейти к просмотру", "Create", "People", routeValues: null, htmlAttributes: new { id = "peopleLink" })
        <br /> 
    </li>
</ol>
